html
  head
    title Create Account
  body
    h3 Create an account
    form(id='form', method='post', action='/createAccount')
      label New Username:
      br
      input(type='text', name='newUsername')
      br
      label New Password:
      br
      input(type='password', name='newPass')
      br
    label Confirm Password:
      br
      input(type='password', name='confirmPass')
      br
      input(type='submit', value='submit')